body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 250px;
}

@keyframes {
    
    from {background-color:#125740;} to {background-color: #ffff}
    
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #125740;;
    color: #2b2839;
    border-bottom: 15px solid #000000;
    border-radius: 30px;
    text-shadow: 12px 12px green;
    animation-name: jets;
    animation-duration: 5s;

    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */

    
    
}

h3 :hover{ 
    
 background-color: pink;   
}




/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
